<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content>
  <p>{{ data.content }}</p>
  <!-- <mat-form-field>
    <input matInput [(ngModel)]="data">
  </mat-form-field> -->
</div>
<div
  mat-dialog-actions
  fxLayout="row"
  fxLayoutAlign="space-evenly center"
  fxLayoutGap="10px"
>
  <button mat-flat-button color="warn" (click)="onCancelClick()">Cancel</button>
  <!-- cdkFocusInitial to specify initial focus -->
  <button
    mat-flat-button
    color="primary"
    [mat-dialog-close]="data"
    cdkFocusInitial
  >
    Yes
  </button>
</div>
